#flex-box{
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    height: 450px;

    
}
.box{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
}