header{
    background-color: #4CAF50;
    padding: 1em;
    color: white;
    text-align: center;
    margin: 0px;
}

main{
    
    padding: 10px;
}

nav{
    background-color: #333;
    color: white;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0px;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav ul li:hover{
    background: #111;
    color: red;
    cursor: pointer;
}

main div img{
    display: block;
    margin: auto;
}
main div p{
    text-align: center;
}
main div table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}
main div table th{
    background-color: #4CAF50;
    color: white;
    text-align: left;
}
main div table th,td{
    padding: 10px;
    border: 1px solid black;
}
footer{
    background-color: black;
}
footer p{
    color: white;
    padding: 15px;
    text-align: center;
    margin: 0px;
}