.post{
    width: 550px;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Comfortaa';
    margin: 10px auto;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
body{
    background: rgba(247,255, 250);
}