body{
    background: rgba(247,255, 250);

}
.allPosts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 600px;
    margin: auto;
}
.Post{
    font-family: 'Comfortaa';
    border-radius: 10px;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
.ViewPostButton{
    background-image: linear-gradient(to right, rgb(139,92,246),rgb(14,165,233));
    color: white;
    
}