body{
    font-family: "Comfortaa", sans-serif;
}   
.header{
    background: #476ef7;
    color: white;
    padding-left: 25px;
    font-size: large;
    width: 100%;
    
}
.form{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0px 0px 4px #476ef7;
    padding: 25px 0px;
}
#add-button{
    background: #476ef7;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: x-large;
    font-weight: 600;

}
.inputs{
    width: 30%;
}
.cards{
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}
.cards .card{
    background: #476ef7;
    color: white;
    height: 150px;
    width: 18rem;
}
.transaction-table{
    border: 1px solid #04060d;
    width: 95%;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    font-weight: 900;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
    padding: 0px;
}
#header-row{
    background: #476ef7;
    color: white;
}
#header-row th{
    padding: 10px 15px;
}
.delete-button{
    background: red;
    border: none;
    border-radius: 20%;
}
.delete-button:hover{
    background: rgb(190, 22, 22);
    border: none;
    border-radius: 20%;
}
#data-row td{
    padding: 10px 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .header{
        background: black;
        width: 100%;
    }
    .form{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
    .inputs{
        width: 80%;
    }
    #add-button{
        border-radius: 8px;
        width: 80%;
        background: black;
    }
    .cards{
        flex-wrap: wrap;
        gap: 15px;
    }
    .cards .card{
        width: 150px;
        height: 150px;
        font-size: small;
        background: black;
    }
    #header-row{
        background: black;
    }
    .currency-symbol img, span{
        width: 25px;
    }
}