body{
    font-family: "Comfortaa", sans-serif;
}
.parent{
    position: relative;
    border: 1px solid black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.solid-circle{
    height: 750px;
    width: 750px;
    background: #476ef7;
    border-radius: 50%;
    position: absolute;
    right: -375px;
    top: -60px;
    z-index: 1;
}
.header-home{

    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 10px;
    padding: 0 10px;
}
#click-here-button{
    background: white;
    color: #476ef7;
    font-size: large;
    font-weight: 600;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
}
#name{
    color: #476ef7;
    font-size: 150px;
}
.form-floating{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
#login-button{
    background: #476ef7;
    color: white;
    font-weight: 600;
    padding: 5px 25px;
}
.main-content{
    margin-left: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
    .solid-circle{
        background: black;
        width: 300px;
        height: 300px;
        right: -150px;
        top: -125px;
    }
    #name{
        font-size: 80px;
        color: black;
    }
    #login-button{
    background: black;
    color: white;
    font-weight: 600;
    padding: 5px 25px;

    }
    #click-here-button{
        color: black;
    }
}